.input-container{
    display:flex;
    justify-content: center;
    margin-top: 9%;
    gap:20px;
}
input{
    width:20%;
    height:40px;
    border-color: orange;
    padding-left: 10px;
    border-radius: 5px;

}
button{
    border:1px solid orange;
    color:orange;
    height:40px
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px; 
  }
  
  .filter-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(155, 89, 8);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .filter-buttons button:hover {
    background-color: rgb(182, 119, 41);
  }
  